<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>ar.edu.utn.frro.java.web.cwa.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
</web-app>
